@font-face {
   font-family: 'Inter';
   src: url(./fonts/Inter-Regular.ttf) format("truetype");
   font-weight: 400;
}

@font-face {
   font-family: 'Inter';
   src: url(./fonts/Inter-Bold.ttf) format("truetype");
   font-weight: 700;
}

@font-face {
   font-family: 'Inter';
   src: url(./fonts/Inter-Black.ttf) format("truetype");
   font-weight: 900;
}

.page {
   width: 1280px;
   margin: 0 auto;
   font-family: 'Inter', sans-serif;
}

.header {
   display: flex;
   justify-content: space-between;
   padding: 28px 48px 0;
   height: 52px;
   min-height: 52px;
   background-color: #2A2C2F;
}

.header__logo {
   background-image: url(./images/header-logo.svg);
   width: 176px;
   height: 52px;
}

.header__links {
   margin: 18px 0 6px;
}

.header__lang-link {
   position: absolute;
   background-color: #2A2C2F;
   text-decoration: none;
   z-index: -1;
   opacity: 0;
}

.header__lang-link:first-child {
   margin-right: 18px;
}

.header__lang-link+label {
   color: white;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
}

.header__lang-link:checked+label {
   text-decoration: underline;
}

.lead {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   background-color: #2A2C2F;
}

.lead__title {
   text-align: center;
   margin: 0;
   color: white;
   max-width: 720px;
   width: 100%;
   font-weight: 900;
   font-size: 96px;
   line-height: 100px;
}

.lead__subtitle {
   text-align: center;
   margin: 32px 0 64px;
   color: white;
   max-width: 640px;
   width: 100%;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
}

.lead__image {
   display: flex;
   width: 984px;
   height: 615px;
}

.lead__caption {
   margin: 8px 0 0 148px;
   display: flex;
   align-self: flex-start;
   color: white;
   font-weight: 400;
   font-size: 10px;
   line-height: 14px;
}

.intro {
   background-color: #2A2C2F;
   width: 100%;
   padding-top: 92px;
}

.intro__title {
   max-width: 690px;
   margin: 0 0 40px 148px;
   color: white;
   font-weight: 900;
   font-size: 54px;
   line-height: 58px;
}

.intro__text {
   max-width: 690px;
   margin: 0 0 33px 148px;
   color: white;
   font-weight: 400;
   font-size: 16px;
   line-height: 163%;
}

.intro__list {
   max-width: 690px;
   margin: 0 0 0 148px;
   padding: 0;
   color: white;
   list-style-type: none;
   font-weight: 700;
   font-size: 12px;
   line-height: 18px;
}

.intro__list_span-accent {
   font-weight: normal;
}

.photo-grid {
   background-color: #2A2C2F;
   width: 100%;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(4, 284px);
   gap: 16px;
   padding-top: 92px;
}

.photo-grid__item {
   width: 284px;
   height: 213px;
   object-fit: cover;
}

.two-rows {
   display: flex;
}

.places {
   background-color: #2A2C2F;
   width: 100%;
   padding-top: 92px;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.place {
   max-width: 984px;
   min-height: 660px;
   margin-bottom: 80px;
}

.place:last-of-type {
   margin-bottom: 0;
}

.place__title {
   max-width: 460px;
   width: 100%;
   margin: 0 40px 48px 0;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   color: white;
}

.place__image {
   width: 460px;
   height: 460px;
   margin: 0 40px 0 0;
}

.place__website {
   display: flex;
   flex-direction: column;
   justify-content: end;
   width: 456px;
   margin: 0 0 48px 0;
}

.place__website_url-heading {
   max-width: 456px;
   width: 100%;
   margin: 0 0 12px;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   color: #aaa;
}

.place__website_link {
   max-width: 456px;
   width: 100%;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: white;
   transition: opacity .3s linear;
}

.place__website_link:hover {
   opacity: .8;
}

.place__paragraph {
   max-width: 484px;
   width: 100%;
   margin: 0 0 26px;
   font-weight: 400;
   font-size: 18px;
   line-height: 163%;
   color: white;
}

.place__paragraph:last-of-type {
   margin-bottom: 0;
}

.cover {
   min-height: 740px;
   background-color: #2A2C2F;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url(./images/dmitrii-vaccinium-22833-unsplash.png);
   background-size: 1184px 740px;
   background-repeat: no-repeat;
   background-position: top center;
   padding-bottom: 92px;
}

.cover__overlay {
   position: absolute;
   display: flex;
   width: 1184px;
   height: 740px;
   background-color: #2A2C2F;
   opacity: 0.3;
   transition: opacity .3s linear;
   z-index: 0;
}

.cover__overlay:hover {
   opacity: 0.8;
}

.cover__title {
   margin: 0 0 32px;
   color: white;
   text-align: center;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   max-width: 560px;
   z-index: 1;
}

.cover__subtitle {
   margin: 0;
   color: white;
   text-align: center;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   max-width: 360px;
   z-index: 1;
}

.footer {
   background-color: #2A2C2F;
   display: flex;
   justify-content: center;
   padding-bottom: 24px;
}

.footer__columns {
   display: flex;
   justify-content: space-between;
   width: 1184px;
}

.footer__links {
   display: flex;
   justify-content: space-between;
   flex-basis: 465px;
}

.footer__links_link {
   color: white;
   text-decoration: none;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   transition: opacity .3s linear;
}

.footer__links_link:hover {
   opacity: .8;
}

.footer__copyright {
   margin: 0;
   color: white;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
}