.cover__subtitle {
  color: white;
  max-width: 256px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  margin: -11px 0 0 0;
  z-index: 1;
  margin: 16px auto 0;
}

@media (min-width: 768px) {
  .cover__subtitle {
     max-width: 352px;
     font-size: 18px;
     line-height: 22px;
     margin-top: 34px;
  }
}