.header {
   display: flex;
   justify-content: space-between;
   padding-top: 15px;
   max-width: 1184px;
   margin: 0 auto;
}

@media (min-width: 768px) {
   .header {
      padding-top: 28px;
      padding-left: 24px;
      padding-right: 24px;
   }
}

@media (min-width: 1024px) {
   .header {
      padding-right: 48px;
      padding-left: 48px;
      padding-top: 28px;
   }
}

@media (min-width: 1280px) {
   .header {
      padding-top: 31px;
   }
}