.footer__links {
   list-style-type: none;
   margin: 0 0 0 16px;
   padding: 0;
   line-height: 56px;
}

@media (min-width: 768px) {
   .footer__links {
      display: flex;
      justify-content: space-between;
      flex-basis: 468px;
   }
}

@media (min-width: 1024px) {
   .footer__links {
      margin-left: 48px;
      margin-top: 6px;
      flex-basis: 460px;
   }
}

@media (min-width: 1280px) {
   .footer__links {
      flex-basis: 458px;
   }
}