.footer__links {
   list-style-type: none;
   margin: 0 0 0 16px;
   padding: 0;
   line-height: 56px;
}

@media (min-width: 768px) {
   .footer__links {
      display: flex;
      justify-content: space-between;
      flex-basis: 468px;
      margin-left: 0;
   }
}