.place__paragraph {
   max-width: 285px;
   color: white;
   font-weight: 400;
   font-size: 16px;
   line-height: 26.08px;
   margin: 0 0 24px 0;
}

.place__paragraph:last-child {
   margin-bottom: 0;
}

@media (min-width: 768px) {
   .place__paragraph {
      max-width: 355px;
   }
}

@media (min-width: 1024px) {
   .place__paragraph {
      max-width: 456px;
      font-size: 18px;
      line-height: 29.34px;
   }
}

@media (min-width: 1280px) {
   .place__paragraph {
      max-width: 484px;
   }
}