.footer__copyright {
   color: white;
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   margin: 28px 0 0 17px;
   letter-spacing: 0;
}

@media (min-width: 768px) {
   .footer__copyright {
      line-height: 16px;
      margin: auto 0;
   }
}