.cover {
   max-width: 1184px;
   margin: 0 auto;
   padding-top: 61px;
}

@media (min-width: 768px) {
   .cover {
      padding-top: 96px;
   }
}

@media (min-width: 1024px) {
   .cover {
      padding-top: 93px;
   }
}

@media (min-width: 1280px) {
   .cover {
      padding-top: 88px;
   }
}