.cover__title {
   position: relative;
   max-width: 555px;
   text-align: center;
   margin: 241px 0 0 318px;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   letter-spacing: -5px;
   z-index: 2;
 }