.place {
   display: grid;
   justify-content: center;
   grid-template-columns: 320px;
   grid-template-rows: auto auto 320px auto;
   margin-bottom: 48px;
}

.place:last-child {
   margin-bottom: 0;
}

@media (min-width: 768px) {
   .place {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      gap: 29px;
      margin-bottom: 72px;
   }
}

@media (min-width: 1024px) {
   .place {
      grid-template-columns: 440px 456px;
      gap: 32px;
      margin-bottom: 79px;
   }
}

@media (min-width: 1280px) {
   .place {
      grid-template-columns: 460px 484px;
      column-gap: 40px;
      row-gap: 27px;
      margin-bottom: 80px;
   }
}