.footer {
   padding: 53px 0 26px 0;
}

@media (min-width: 768px) {
   .footer {
      display: flex;
      justify-content: space-between;
      min-width: 720px;
      padding-top: 69px;
      padding-bottom: 5px;
   }
}